@font-face {
  font-family: "Spartan";
  font-weight: 700;
  src: local("Spartan"),
   url(../assets/fonts/Spartan-Bold-700.ttf) format("truetype");
}

@font-face {
  font-family: "Spartan";
  font-weight: 500;
  src: local("Spartan"),
   url(../assets/fonts/Spartan-Medium-500.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --color-violet: 124 93 250;
    --color-light-violet: 146 119 255;
    --color-dark-navy: 30 33 57;
    --color-navy: 37 41 69;
    --color-blue-gray: 223 227 250;
    --color-gray: 136 142 176;
    --color-blue: 126 136 195;
    --color-black-0: 12 14 22;
    --color-black-1: 20 22 37;
    --color-red: 236 87 87;
    --color-salmon: 255 151 151;
    --color-very-light-gray: 248 248 251;
  }

  html {
    font-family: 'Spartan', sans-serif;
  }

}

@layer components {
  .body-2 {
    @apply text-body-2 font-medium;
  }

  .body-1 {
    @apply text-body-1 font-medium;
  }

  .heading-xs {
    @apply text-heading-xs font-bold;
  }

  .heading-sm {
    @apply text-heading-sm font-bold;
  }

  .heading-md {
    @apply text-heading-md font-bold;
  }
  
  .heading-lg {
    @apply text-heading-lg font-bold;
  }
}