@font-face {
  font-family: "Spartan";
  font-weight: 700;
  src: local("Spartan"),
   url(../assets/fonts/Spartan-Bold-700.ttf) format("truetype");
}

@font-face {
  font-family: "Spartan";
  font-weight: 500;
  src: local("Spartan"),
   url(../assets/fonts/Spartan-Medium-500.ttf) format("truetype");
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --color-violet: 124 93 250;
    --color-light-violet: 146 119 255;
    --color-dark-navy: 30 33 57;
    --color-navy: 37 41 69;
    --color-blue-gray: 223 227 250;
    --color-gray: 136 142 176;
    --color-blue: 126 136 195;
    --color-black-0: 12 14 22;
    --color-black-1: 20 22 37;
    --color-red: 236 87 87;
    --color-salmon: 255 151 151;
    --color-very-light-gray: 248 248 251;
    --color-green: 51 214 159;
    --color-orange: 255 143 0;
    --color-very-dark-blue: 55 59 83;
  }

  html {
    font-family: 'Spartan', sans-serif;
  }

  body{
    @apply bg-[#f8f8fb] dark:bg-black-1 text-black-0 dark:text-white;
  }
}

@layer components {
  .body-2 {
    @apply text-body-2 font-medium;
  }

  .body-1 {
    @apply text-body-1 font-medium;
  }

  .heading-xs {
    @apply text-heading-xs font-bold;
  }

  .heading-sm {
    @apply text-heading-sm font-bold;
  }

  .heading-md {
    @apply text-heading-md font-bold;
  }
  
  .heading-lg {
    @apply text-heading-lg font-bold;
  }

  .form-control {
    @apply flex flex-col gap-[10px];
  }

  .input-field {
    @apply border border-blue-gray py-4 px-5 rounded focus:border-violet focus:outline-none caret-violet heading-xs bg-white dark:bg-dark-navy dark:border-navy text-black-0 dark:text-white;
  }

  .dropbox-light {
    box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  }

  .dropbox-dark {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  }

  .card-boxshadow {
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  }
}